* {
  box-sizing: border-box;
}

body {
  width: 365px;
  height: 657px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.attempt-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.attempt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 90%;
  height: 50px;
}

.ls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border: 1px solid grey;
}

.keyboard-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.keyboard-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

#row2 {
  justify-content: center;
  gap: 5px;
}

.key-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.5%;
  height: 60px;
  background-color: rgb(98, 96, 96);
  color: white;
  border-radius: 5px;
}

#ENTER,
#BACK {
  font-size: smaller;
  width: 50px;
}

.contains {
  background-color: goldenrod;
}

.match {
  background-color: green;
}


.not-contains {
  background-color: rgb(27, 26, 26);
}

@keyframes flip-match {
  0% {
    transform: scaleY(1);
  }
  50% {
    background-color: white;
    transform: scaleY(0);
  }
  100% {
    background-color: green;
    transform: scaleY(1);
  }
}

.flip-match {
  animation: flip-match 500ms ease forwards;
}

@keyframes flip-contains {
    0% {
      transform: scaleY(1);
    }
    50% {
      background-color: white;
      transform: scaleY(0);
    }
    100% {
      background-color: goldenrod;
      transform: scaleY(1);
    }
  }

  .flip-contains {
    animation: flip-contains 500ms ease forwards;
  }

  @keyframes flip-not {
    0% {
      transform: scaleY(1);
    }
    50% {
      background-color: white;
      transform: scaleY(0);
    }
    100% {
      background-color: black;
      transform: scaleY(1);
    }
  }
  
  .flip-not {
    animation: flip-not 500ms ease forwards;
  }
